Repository will-wright-eng/link-mgmt: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-typescript, golangci-lint, prettier-typescript, go-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-json
        exclude: tsconfig\.json$

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
    - id: markdownlint
      args:
      - --fix
      verbose: true
      entry: bash -c 'markdownlint "$@" || true' --

  - repo: local
    hooks:
      - id: eslint-typescript
        name: ESLint TypeScript
        entry: bash -c 'cd scraper && bun lint'
        language: system
        files: ^scraper/.*\.ts$
        pass_filenames: false
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd link-mgmt-go && golangci-lint run --timeout=5m ./...'
        language: system
        files: ^link-mgmt-go/.*\.go$
        pass_filenames: false
      - id: prettier-typescript
        name: Prettier TypeScript
        entry: bash -c 'cd scraper && bun fmt'
        language: system
        files: ^scraper/.*\.ts$
        pass_filenames: false
      - id: go-fmt
        name: Go Format
        entry: bash -c 'cd link-mgmt-go && go fmt ./...'
        language: system
        files: ^link-mgmt-go/.*\.go$
        pass_filenames: false

adding dockerfile for api and nginx reverse proxy for unified service endpoint
  docker-compose.yml
  docs/go-app/cli-scraper-integration-design.md
  link-mgmt-go/.air.toml
  link-mgmt-go/.gitignore
  link-mgmt-go/Dockerfile
  link-mgmt-go/README.md
  link-mgmt-go/cmd/cli/main.go
  link-mgmt-go/pkg/cli/app.go
  link-mgmt-go/pkg/config/config.go
  link-mgmt-go/pkg/scraper/client.go
  nginx/nginx.conf
Due: golangci-lint, go-fmt

config update and cli integration with the scraper service
  docs/go-app/cli-scraper-integration-design.md
  link-mgmt-go/pkg/config/config.go
  link-mgmt-go/pkg/scraper/client.go
  readme.md
Due: golangci-lint, go-fmt

readme
  readme.md
Due: none

docs
  docs/go-app/cli-scraper-integration-design.md
  readme.md
Due: none

implemented scraper module in cli
  docs/go-app/cli-scraper-integration-design.md
  link-mgmt-go/README.md
  link-mgmt-go/cmd/cli/main.go
  link-mgmt-go/pkg/cli/app.go
Due: golangci-lint, go-fmt

tui plan
  docs/go-app/tui-design-document.md
Due: none

splitting large files into smaller files for more organized modules
  docs/go-app/tui-design-document.md
  link-mgmt-go/pkg/cli/app.go
  link-mgmt-go/pkg/cli/config.go
  link-mgmt-go/pkg/cli/forms/add_link.go
  link-mgmt-go/pkg/cli/forms/delete_link.go
  link-mgmt-go/pkg/cli/forms/messages.go
  link-mgmt-go/pkg/cli/links.go
  link-mgmt-go/pkg/cli/scrape.go
  link-mgmt-go/pkg/cli/users.go
  link-mgmt-go/pkg/scraper/client.go
  link-mgmt-go/pkg/scraper/errors.go
  link-mgmt-go/pkg/scraper/types.go
Due: golangci-lint, go-fmt

code duplication
  link-mgmt-go/pkg/cli/forms/add_link.go
  link-mgmt-go/pkg/cli/scrape.go
  link-mgmt-go/pkg/utils/validation.go
Due: golangci-lint, go-fmt

scraper updates and tui flow
  docker-compose.yml
  docs/go-app/charm-tui-architecture.md
  docs/go-app/tui-design-document.md
  link-mgmt-go/pkg/cli/app.go
  link-mgmt-go/pkg/cli/tui/add_link_form.go
  link-mgmt-go/pkg/scraper/client.go
  link-mgmt-go/pkg/scraper/types.go
Due: golangci-lint, go-fmt

tui checkpoint
  link-mgmt-go/pkg/cli/app.go
  link-mgmt-go/pkg/cli/tui/root.go
Due: golangci-lint, go-fmt

implemented cli flows
  link-mgmt-go/pkg/cli/forms/messages.go
  link-mgmt-go/pkg/cli/links.go
  link-mgmt-go/pkg/cli/scrape.go
  link-mgmt-go/pkg/cli/tui/basic_add_link_form.go
  link-mgmt-go/pkg/cli/tui/delete_link_form.go
  link-mgmt-go/pkg/cli/tui/list_links.go
  link-mgmt-go/pkg/cli/tui/root.go
  link-mgmt-go/pkg/cli/tui/scrape_existing_link_form.go
  link-mgmt-go/pkg/cli/tui/view_link_details.go
Due: golangci-lint, go-fmt

tui checkpoint
  docs/go-app/tui-design-document.md
  link-mgmt-go/cmd/cli/main.go
  link-mgmt-go/pkg/cli/links.go
  link-mgmt-go/pkg/cli/tui/add_link_form.go
  scraper/Dockerfile
Due: golangci-lint, go-fmt

moving files
  link-mgmt-go/pkg/cli/tui/form_add_link.go
  link-mgmt-go/pkg/cli/tui/form_basic_add_link.go
  link-mgmt-go/pkg/cli/tui/form_delete_link.go
  link-mgmt-go/pkg/cli/tui/form_scrape_existing_link.go
Due: golangci-lint, go-fmt

tui eval
  docs/go-app/tui-evaluation.md
Due: none

viewport design doc
  docs/go-app/charm-tui-architecture.md
  docs/go-app/core-lib-design-document.md
  docs/go-app/scraper-integration-design.md
  docs/go-app/tui-design-document.md
  docs/go-app/viewport-and-common-commands-design.md
  docs/scraper/architecture-design-comparison.md
Due: none

cleaning up link management in tui
  link-mgmt-go/cmd/cli/main.go
  link-mgmt-go/pkg/cli/links.go
  link-mgmt-go/pkg/cli/scrape.go
  link-mgmt-go/pkg/cli/tui/form_add_link.go
  link-mgmt-go/pkg/cli/tui/form_scrape_existing_link.go
  link-mgmt-go/pkg/cli/tui/helpers.go
  link-mgmt-go/pkg/cli/tui/list_links.go
  link-mgmt-go/pkg/cli/tui/manage_links.go
  link-mgmt-go/pkg/cli/tui/root.go
  link-mgmt-go/pkg/cli/tui/view_link_details.go
Due: golangci-lint, go-fmt

tui cleanup
  link-mgmt-go/pkg/cli/tui/form_basic_add_link.go
  link-mgmt-go/pkg/cli/tui/form_delete_link.go
  link-mgmt-go/pkg/cli/tui/root.go
Due: golangci-lint, go-fmt

viewport design doc
  docs/go-app/viewport-and-common-commands-design.md
Due: none

adding seed bash script
  link-mgmt-go/Makefile
  link-mgmt-go/add-links.sh
  link-mgmt-go/cmd/cli/main.go
  link-mgmt-go/links.txt
  link-mgmt-go/pkg/cli/app.go
Due: golangci-lint, go-fmt

viewport implemented
  docs/go-app/viewport-and-common-commands-design.md
  link-mgmt-go/go.mod
  link-mgmt-go/go.sum
  link-mgmt-go/pkg/cli/logger/logger.go
  link-mgmt-go/pkg/cli/tui/form_add_link.go
  link-mgmt-go/pkg/cli/tui/help.go
  link-mgmt-go/pkg/cli/tui/helpers.go
  link-mgmt-go/pkg/cli/tui/manage_links.go
  link-mgmt-go/pkg/cli/tui/root.go
  link-mgmt-go/pkg/cli/tui/viewport_wrapper.go
Due: golangci-lint, go-fmt

fixing files
  Makefile
  docker-compose.prod.yml
  docker-compose.yml
  link-mgmt-go/.air.toml
Due: none

docs cleanup
  docs/go-app/list-scrolling.md
  docs/go-app/tui-evaluation.md
Due: none

checkpoint
  docs/manage_links_evaluation.md
  link-mgmt-go/pkg/cli/tui/manage_links.go
Due: golangci-lint, go-fmt

manage links init
  link-mgmt-go/pkg/cli/tui/manage_links.go
  link-mgmt-go/pkg/cli/tui/managelinks/constants.go
  link-mgmt-go/pkg/cli/tui/managelinks/messages.go
  link-mgmt-go/pkg/cli/tui/managelinks/scrape_state.go
Due: golangci-lint, go-fmt

docs cleanup
  docs/bun-scraper-design-document.md
  docs/cli-api-language-comparison.md
  docs/core-lib-design-document.md
  docs/go-app/cli-implementation-plan.md
  docs/manage_links_evaluation.md
  docs/scraper-integration-design.md
  docs/scraper/service-implementation.md
Due: none

next step
  docs/link-filtering-design.md
Due: none

md docs
  docs/architecture-design-review.md
  docs/phase1-implementation-plan.md
Due: none

docs cleanup
  docs/phase1-implementation-plan.md
Due: none

dev
  docker-compose.yml
Due: none

scraper error handling implemented in scraper and go pkg
  link-mgmt/pkg/scraper/client.go
  link-mgmt/pkg/scraper/errors.go
  link-mgmt/pkg/scraper/types.go
  nginx/nginx.conf
  scraper/src/browser.ts
  scraper/src/errors.ts
  scraper/src/extractor.ts
  scraper/src/server.ts
  scraper/src/types.ts
Due: eslint-typescript, prettier-typescript

architecture review update
  docs/architecture-design-review.md
Due: none

md docs
  docs/scrape-status-implementation-plan.md
  docs/state-machine-refactoring-plan.md
Due: none
